n8n/lead-auto-responder.json
{
  "name": "Achievers Wealth Academy, Lead Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "achievers-wealth-academy-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f6b4c00-1111-4aaa-9bbb-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "achievers-wealth-academy-lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "firstName",
              "value": "={{ $json.body.first_name || $json.first_name || 'there' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "lastName",
              "value": "={{ $json.body.last_name || $json.last_name || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{ $json.body.email || $json.email }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "phone",
              "value": "={{ $json.body.phone || $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "reason",
              "value": "={{ $json.body.reason || $json.reason || 'other' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "reasonLabel",
              "value": "={{ ({ get_a_quote: 'a free insurance quote', become_an_agent: 'becoming a licensed agent', whole_life: 'Whole Life Insurance', gul: 'Guaranteed Universal Life Insurance', final_expense: 'Final Expense coverage', rollover: 'a retirement rollover', other: 'your inquiry' })[$json.body.reason || $json.reason] || 'your inquiry' }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "messageText",
              "value": "={{ ($json.body.message || $json.message || '').trim() || '(none provided)' }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "submittedAt",
              "value": "={{ $json.body.submitted_at || $json.submitted_at || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8f6b4c00-1111-4aaa-9bbb-000000000002",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 320]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thanks for reaching out, {{ $json.firstName }}",
        "emailType": "html",
        "message": "<!doctype html>\n<html>\n<body style=\"margin:0;padding:0;background:#f8f4ec;font-family:Georgia,'Cormorant Garamond',serif;color:#1a1a1a;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f4ec;padding:32px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:14px;overflow:hidden;box-shadow:0 8px 28px rgba(74,10,23,0.08);\">\n        <tr><td style=\"background:linear-gradient(135deg,#4a0a17 0%,#8a0e2d 50%,#b1304b 100%);padding:36px 32px;color:#f8f4ec;text-align:center;\">\n          <div style=\"font-size:13px;letter-spacing:3px;text-transform:uppercase;opacity:0.85;\">Achievers Wealth Academy</div>\n          <h1 style=\"margin:10px 0 0;font-size:28px;font-weight:600;\">Thank you, {{ $json.firstName }}.</h1>\n        </td></tr>\n        <tr><td style=\"padding:36px 32px;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:1.7;color:#1a1a1a;\">\n          <p>Your message about {{ $json.reasonLabel }} just landed in my inbox. I read every one of these personally, and I will be in touch within 24 hours to walk you through next steps.</p>\n          <p>In the meantime, if anything urgent comes up, you can reach me directly at <a href=\"tel:+12019121781\" style=\"color:#8a0e2d;text-decoration:none;font-weight:600;\">(201) 912 1781</a>.</p>\n          <p style=\"margin-top:28px;\">Protecting your family and building real wealth is the most important work you will ever do. I am honored you trusted us with the first step.</p>\n          <p style=\"margin-top:28px;font-style:italic;\">Cherry Jane Okeke<br/><span style=\"font-size:13px;color:#6b0f1f;letter-spacing:1px;text-transform:uppercase;\">Founder, Achievers Wealth Academy</span></p>\n        </td></tr>\n        <tr><td style=\"background:#f3ead8;padding:18px 32px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4a4a4a;text-align:center;\">\n          You received this email because you submitted a contact form at achieverswealth. If this was not you, simply ignore this message.\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "senderName": "Cherry Jane Okeke",
          "replyTo": "cherryjaneokeke@gmail.com",
          "appendAttribution": false
        }
      },
      "id": "8f6b4c00-1111-4aaa-9bbb-000000000003",
      "name": "Send Auto-Responder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [760, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "CherryJane Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "cherryjaneokeke@gmail.com",
        "subject": "=New lead: {{ $json.firstName }} {{ $json.lastName }}, {{ $json.reasonLabel }}",
        "emailType": "html",
        "message": "=<!doctype html>\n<html>\n<body style=\"margin:0;padding:0;background:#f8f4ec;font-family:Arial,Helvetica,sans-serif;color:#1a1a1a;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f4ec;padding:24px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #ead7c0;\">\n        <tr><td style=\"background:#4a0a17;padding:18px 24px;color:#f8f4ec;\">\n          <div style=\"font-size:11px;letter-spacing:2px;text-transform:uppercase;opacity:0.85;\">New Lead</div>\n          <div style=\"font-size:20px;font-weight:600;margin-top:4px;\">{{ $json.firstName }} {{ $json.lastName }}</div>\n          <div style=\"font-size:13px;opacity:0.9;margin-top:2px;\">{{ $json.reasonLabel }}</div>\n        </td></tr>\n        <tr><td style=\"padding:24px;font-size:14px;line-height:1.6;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;\">\n            <tr><td style=\"padding:6px 0;color:#6b6b6b;width:90px;\">Phone</td><td><a href=\"tel:{{ $json.phone }}\" style=\"color:#8a0e2d;text-decoration:none;font-weight:600;\">{{ $json.phone }}</a></td></tr>\n            <tr><td style=\"padding:6px 0;color:#6b6b6b;\">Email</td><td><a href=\"mailto:{{ $json.email }}\" style=\"color:#8a0e2d;text-decoration:none;\">{{ $json.email }}</a></td></tr>\n            <tr><td style=\"padding:6px 0;color:#6b6b6b;\">Reason</td><td>{{ $json.reasonLabel }}</td></tr>\n            <tr><td style=\"padding:6px 0;color:#6b6b6b;vertical-align:top;\">Message</td><td>{{ $json.messageText }}</td></tr>\n            <tr><td style=\"padding:6px 0;color:#6b6b6b;\">Submitted</td><td>{{ $json.submittedAt }}</td></tr>\n          </table>\n          <div style=\"margin-top:20px;\">\n            <a href=\"tel:{{ $json.phone }}\" style=\"display:inline-block;background:#8a0e2d;color:#f8f4ec;padding:12px 22px;border-radius:999px;text-decoration:none;font-weight:600;font-size:14px;\">Call {{ $json.firstName }} Now</a>\n          </div>\n        </td></tr>\n        <tr><td style=\"background:#f3ead8;padding:12px 24px;font-size:11px;color:#6b6b6b;\">\n          Reply to this email to respond directly to the lead.\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "senderName": "Achievers Wealth Leads",
          "replyTo": "={{ $json.email }}",
          "appendAttribution": false
        }
      },
      "id": "8f6b4c00-1111-4aaa-9bbb-000000000005",
      "name": "Send Internal Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [760, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "CherryJane Gmail"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8f6b4c00-1111-4aaa-9bbb-000000000004",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Send Auto-Responder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Internal Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto-Responder": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Internal Notification": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
